
<!-- <input type="text" value="{{OrderID}}" /> -->
<input type="text" [value]="OrderID" />

<button (click)="EvtShowModel('Show')">Click</button>

<span>{{OrderID}}</span>


<input type="text" 
[value]="CityName" 
(keyup)="evtKeyup(OrderCity)" 
 #OrderCity />
 CityName - {{CityName}}

 <hr>
<input type="text"
 [ngModel]="CityName1"
 (ngModelChange)="evtngmodelChange($event)" />
 CityName1 - {{CityName1}}

 <input type="text"
 [(ngModel)]="CityName2"/>
 CityName2 - {{CityName2}}






 <!-- {{CityName}} -->

 <hr>
 <input [type]="inputType" />



<!-- <input type="text" (ngModel) -->


<!-- 
string interoplation
property binding
event binding  
two way binding   -->


<!-- {{}}
[prpertydatabinding] -->
<!-- (eventdatabinding) -->